<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142888529612-9mv4b5bu43k7r0det3t7365h0vjieiub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142888529612-9mv4b5bu43k7r0det3t7365h0vjieiub</string>
	<key>API_KEY</key>
	<string>AIzaSyDEFQjeFsx6vRBxC7oKJPUc09znl_JAocA</string>
	<key>GCM_SENDER_ID</key>
	<string>142888529612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmartinez.Finance</string>
	<key>PROJECT_ID</key>
	<string>finance-1f8af</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-1f8af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142888529612:ios:ea68bcee8f8faa2b5e9c69</string>
</dict>
</plist>